@model CoreCms.SampleSite.Pages.ArticlePage
@using CoreCms.Cms.Core.HtmlExtensions
@using CoreCms.SampleSite.Pages
@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<h1>Article</h1> 
<cms-content content="@Model.Title"></cms-content>
<a cms-content-href="@Model.Other">Other page</a>
<cms-content content="@Model.Image1"></cms-content>